.ant-avatar-image img{
    width: 30px !important;
    height: 30px !important;
    background-color: rgb(248, 203, 53);
    border-radius: 50%;
    padding-bottom: 2px;

}

.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--Twitter-backgroun);
    padding-right: 10px;
}
.tweetBox > form{
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    padding: 20px;
    display: flex;
}
.tweetBox__input > input{
    position: relative;
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox__imageInput{
    border: none;
    padding: 20px;
}

.tweetBox__tweetButton{
    background-color: var(--Twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin: 20px;
    margin-left: auto;
}